<mat-card class="mat-elevation-z4">
  <mat-card-title> Excluir um Preço </mat-card-title>
  <form [formGroup]="precoForm">
    <mat-form-field>
      <input
        placeholder="ID do Preço"
        matInput
        formControlName="preco_id"
        name="preco_id"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="Preço de Compra"
        matInput
        formControlName="preco_compra"
        name="preco_compra"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="Preço de Venda"
        matInput
        formControlName="preco_venda"
        name="preco_venda"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="Data Inicial do Preço"
        matInput
        formControlName="preco_data_inicial"
        name="preco_data_inicial"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="Data Final do Preço"
        matInput
        formControlName="preco_data_final"
        name="preco_data_final"
        readonly=""
      />
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="warn"
    (click)="deletePreco()"
    [disabled]="precoForm.invalid"
  >
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
