<mat-card class="mat-elevation-z4">
  <mat-card-title> Excluir uma categoria </mat-card-title>
  <form [formGroup]="categoriaForm">
    <mat-form-field>
      <input
        placeholder="ID da Categoria"
        matInput
        formControlName="categoria_id"
        name="categoria_id"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="Descrição da categoria"
        matInput
        formControlName="categoria_descricao"
        name="categoria_descricao"
        readonly=""
      />
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="warn"
    (click)="deleteCategoria()"
    [disabled]="categoriaForm.invalid"
  >
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
