<h1 mat-dialog-title>
  {{ data?.produto_id ? "Editar Produto" : "Adicionar Novo Produto" }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="produtoForm" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Nome do Produto</mat-label>
      <input matInput formControlName="produto_descricao" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="produto_categoria_id">
        <mat-option
          *ngFor="let categoria of categorias"
          [value]="categoria.categoria_id"
        >
          {{ categoria.categoria_descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input
        matInput
        type="number"
        formControlName="produto_quantidade_estoque"
      />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="produtoForm.invalid"
  >
    Salvar
  </button>
</div>
