<mat-card class="mat-elevation-z4">
  <mat-card-title> Cadastrar um novo fornecedor </mat-card-title>
  <form [formGroup]="fornecedorForm">
    <mat-form-field>
      <input
        placeholder="Nome da Fornecedor"
        matInput
        formControlName="fornecedor_nome"
        name="fornecedor_nome"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          fornecedorFormControl.fornecedor_nome.touched &&
          fornecedorFormControl.fornecedor_nome.errors?.required
        "
        class="text-danger"
      >
        Nome do fornecedor obrigatória
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Contato do Fornecedor"
        matInput
        formControlName="fornecedor_contato"
        name="fornecedor_contato"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          fornecedorFormControl.fornecedor_contato.touched &&
          fornecedorFormControl.fornecedor_contato.errors?.required
        "
        class="text-danger"
      >
        Contato do fornecedor obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Endereço do Fornecedor"
        matInput
        formControlName="fornecedor_endereco"
        name="fornecedor_endereco"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          fornecedorFormControl.fornecedor_endereco.touched &&
          fornecedorFormControl.fornecedor_endereco.errors?.required
        "
        class="text-danger"
      >
        Endereço do fornecedor obrigatórip
      </span>
    </p>
  </form>

  <button
    mat-raised-button
    color="primary"
    (click)="createFornecedor()"
    [disabled]="fornecedorForm.invalid"
  >
    Cadastrar
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
