<mat-card class="mat-elevation-z4">
  <mat-card-title> Cadastrar uma Novo Usuário </mat-card-title>
  <form [formGroup]="usuarioForm">
    <mat-form-field>
      <input
        placeholder="Nome do Usuário"
        matInput
        formControlName="usuario_nome"
        name="usuario_nome"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          usuarioFormControl.usuario_nome.touched &&
          usuarioFormControl.usuario_nome.errors?.required
        "
        class="text-danger"
      >
        Nome do Usuário obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Email do Usuário"
        matInput
        formControlName="usuario_email"
        name="usuario_email"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          usuarioFormControl.usuario_email.touched &&
          usuarioFormControl.usuario_email.errors?.required
        "
        class="text-danger"
      >
        Email do Usuário obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Senha do Usuário"
        matInput
        formControlName="usuario_password"
        name="usuario_password"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          usuarioFormControl.usuario_password.touched &&
          usuarioFormControl.usuario_password.errors?.required
        "
        class="text-danger"
      >
        Senha do Usuário obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Nome Completo do Usuário"
        matInput
        formControlName="usuario_nome_completo"
        name="usuario_nome_completo"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          usuarioFormControl.usuario_nome_completo.touched &&
          usuarioFormControl.usuario_nome_completo.errors?.required
        "
        class="text-danger"
      >
        Nome Completo do Usuário obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Inscrição do Usuário"
        matInput
        formControlName="usuario_inscricao"
        name="usuario_inscricao"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          usuarioFormControl.usuario_inscricao.touched &&
          usuarioFormControl.usuario_inscricao.errors?.required
        "
        class="text-danger"
      >
        Inscrição do Usuário obrigatória
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="ID do Perfil do Usuário"
        matInput
        formControlName="usuario_perfil_id"
        name="usuario_perfil_id"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          usuarioFormControl.usuario_perfil_id.touched &&
          usuarioFormControl.usuario_perfil_id.errors?.required
        "
        class="text-danger"
      >
        ID do Perfil do Usuário obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Perfil do Usuário"
        matInput
        formControlName="usuario_perfil"
        name="usuario_perfil"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          usuarioFormControl.usuario_perfil.touched &&
          usuarioFormControl.usuario_perfil.errors?.required
        "
        class="text-danger"
      >
        Perfil do Usuário obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Status do Usuário"
        matInput
        formControlName="usuario_status"
        name="usuario_status"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          usuarioFormControl.usuario_status.touched &&
          usuarioFormControl.usuario_status.errors?.required
        "
        class="text-danger"
      >
        Status do Usuário obrigatório
      </span>
    </p>
  </form>

  <button
    mat-raised-button
    color="primary"
    (click)="createUsuario()"
    [disabled]="usuarioForm.invalid"
  >
    Cadastrar
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
