<mat-card class="mat-elevation-z4">
  <mat-card-title> Alterar uma categoria </mat-card-title>
  <form [formGroup]="categoriaForm">
    <mat-form-field>
      <input
        placeholder="Descrição da Categoria"
        matInput
        formControlName="categoria_descricao"
        name="categoria_descricao"
      />
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="primary"
    (click)="updateCategoria()"
    [disabled]="categoriaForm.invalid"
  >
    Alterar
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
