<mat-card class="mat-elevation-z4">
  <mat-card-title> Cadastrar um novo Estado de Pedido </mat-card-title>
  <form [formGroup]="estadoPedidoForm">
    <mat-form-field>
      <input
        placeholder="Descrição do Estado de Pedido"
        matInput
        formControlName="estado_pedido_descricao"
        name="estado_pedido_descricao"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          estadoPedidoFormControl.estado_pedido_descricao.touched &&
          estadoPedidoFormControl.estado_pedido_descricao.errors?.required
        "
        class="text-danger"
      >
        Descrição do Estado de Pedido obrigatório
      </span>
    </p>
  </form>

  <button
    mat-raised-button
    color="primary"
    (click)="createEstadoPedido()"
    [disabled]="estadoPedidoForm.invalid"
  >
    Cadastrar
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
