mat-nav-list {
  padding: 0;

  a {
    border-radius: 4px;
    margin: 4px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;

    &.active-link {
      background-color: rgba(0, 0, 0, 0.08);
    }

    mat-icon {
      margin-right: 16px;
    }

    span {
      font-size: 1rem;
    }
  }
}
