<aside>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport>
      <span>
        <a routerLink="">
          <img src="assets/logo.png" alt="" />
        </a>
      </span>
      <mat-nav-list class="list">
        <mat-list-item>
          <a routerLink="">
            <mat-icon> home </mat-icon>
            Início
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/produto">
            <mat-icon> inventory_2</mat-icon>
            Produtos
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/pedido">
            <mat-icon> inventory_2</mat-icon>
            Pedidos
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/categoria">
            <mat-icon> inventory_2</mat-icon>
            Categorias
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/estado-pedido">
            <mat-icon> inventory_2</mat-icon>
            Estado de Pedido
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/fornecedor">
            <mat-icon> inventory_2</mat-icon>
            Fornecedor
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/historico-estado-pedido">
            <mat-icon> inventory_2</mat-icon>
            Histórico Estado de Pedido
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/item-pedido">
            <mat-icon> inventory_2</mat-icon>
            Item de Pedido
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/movimentacao-estoque">
            <mat-icon> inventory_2</mat-icon>
            Movimentação de Estoque
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/perfil">
            <mat-icon> inventory_2</mat-icon>
            Perfil
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/preco">
            <mat-icon> inventory_2</mat-icon>
            Preço
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/unidade">
            <mat-icon> inventory_2</mat-icon>
            Unidade
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="crud/usuario">
            <mat-icon> inventory_2</mat-icon>
            Usuário
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</aside>
