<mat-card class="mat-elevation-z4">
  <mat-card-title> Excluir um Estado de Pedido </mat-card-title>
  <form [formGroup]="estadoPedidoForm">
    <mat-form-field>
      <input
        placeholder="ID do Estado de Pedido"
        matInput
        formControlName="estado_pedido_id"
        name="estado_pedido_id"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="Descrição da Estado de Pedido"
        matInput
        formControlName="estado_pedido_descricao"
        name="estado_pedido_descricao"
        readonly=""
      />
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="warn"
    (click)="deleteEstadoPedido()"
    [disabled]="estadoPedidoForm.invalid"
  >
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
