mat-toolbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 300;
}

.footer-disciplinas {
  display: flex;
  flex-direction: column;
}
