<main>
  <ng-container *ngIf="!childRouteActive">
    <section class="welcome-section">
      <h1>Bem-vindo ao Sistema de Controle de Estoques</h1>
      <p>Use o menu lateral para navegar entre as funcionalidades.</p>

      <div class="quick-actions">
        <button mat-raised-button color="primary" routerLink="/home/produto">
          Novo Produto
        </button>
        <button
          mat-raised-button
          color="accent"
          routerLink="/home/movimentacao"
        >
          Nova Movimentação
        </button>
        <button mat-raised-button color="warn" routerLink="/home/relatorios">
          Relatórios
        </button>
      </div>
    </section>
  </ng-container>

  <router-outlet></router-outlet>
</main>
