<mat-card class="mat-elevation-z4">
  <mat-card-title> Alterar o pedido </mat-card-title>
  <form [formGroup]="pedidoForm">
    <mat-form-field>
      <input
        placeholder="ID do Pedido"
        matInput
        formControlName="pedido_id"
        name="pedido_id"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="ID do Fornecedor"
        matInput
        formControlName="pedido_fornecedor_id"
        name="pedido_fornecedor_id"
        readonly=""
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_fornecedor_id.touched &&
          pedidoFormControl.pedido_fornecedor_id.errors?.required
        "
        class="text-danger"
      >
        ID do Fornecedor Obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Nome do Fornecedor"
        matInput
        formControlName="pedido_fornecedor"
        name="pedido_fornecedor"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_fornecedor.touched &&
          pedidoFormControl.pedido_fornecedor.errors?.required
        "
        class="text-danger"
      >
        Nome do Fornecedor Obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Data"
        matInput
        formControlName="pedido_data"
        name="pedido_data"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_data.touched &&
          pedidoFormControl.pedido_data.errors?.required
        "
        class="text-danger"
      >
        Data do Pedido Obrigatória
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="ID do Usuário"
        matInput
        formControlName="pedido_usuario_id"
        name="pedido_usuario_id"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_usuario_id.touched &&
          pedidoFormControl.pedido_usuario_id.errors?.required
        "
        class="text-danger"
      >
        ID do Usuário Obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Nome do Usuário"
        matInput
        formControlName="pedido_usuario"
        name="pedido_usuario"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_usuario.touched &&
          pedidoFormControl.pedido_usuario.errors?.required
        "
        class="text-danger"
      >
        Nome do Usuário Obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="ID do Estado do Pedido"
        matInput
        formControlName="pedido_estado_id"
        name="pedido_estado_id"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_estado_id.touched &&
          pedidoFormControl.pedido_estado_id.errors?.required
        "
        class="text-danger"
      >
        ID do Estado do Pedido Obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Estado do Pedido"
        matInput
        formControlName="pedido_estado"
        name="pedido_estado"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_estado.touched &&
          pedidoFormControl.pedido_estado.errors?.required
        "
        class="text-danger"
      >
        Estado do Pedido Obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Observação"
        matInput
        formControlName="pedido_observacao"
        name="pedido_observacao"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_observacao.touched &&
          pedidoFormControl.pedido_observacao.errors?.required
        "
        class="text-danger"
      >
        Observação Obrigatória
      </span>
    </p>

    <mat-form-field>
      <input
        currencyMask
        placeholder="Total do Pedido (R$)"
        matInput
        formControlName="pedido_total"
        name="pedido_total"
        [options]="{
          prefix: 'R$ ',
          thousands: '.',
          decimal: ',',
          align: 'left'
        }"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          pedidoFormControl.pedido_total.touched &&
          pedidoFormControl.pedido_total.errors?.required
        "
        class="text-danger"
      >
        Total do Pedido Obrigatório
      </span>
    </p>
  </form>

  <button
    mat-raised-button
    color="primary"
    (click)="updatePedido()"
    [disabled]="pedidoForm.invalid"
  >
    Alterar
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
