<mat-card class="mat-elevation-z4">
  <mat-card-title> Excluir uma unidade </mat-card-title>
  <form [formGroup]="unidadeForm">
    <mat-form-field>
      <input
        placeholder="ID da Unidade"
        matInput
        formControlName="unidade_id"
        name="unidade_id"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="Descrição da unidade"
        matInput
        formControlName="unidade_descricao"
        name="unidade_descricao"
        readonly=""
      />
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="warn"
    (click)="deleteUnidade()"
    [disabled]="unidadeForm.invalid"
  >
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
