<mat-card class="mat-elevation-z4">
  <mat-card-title>
    Cadastrar um nova Histórico de Estado de Pedido
  </mat-card-title>
  <form [formGroup]="historicoForm">
    <mat-form-field>
      <input
        placeholder="ID do Pedido do Histórico"
        matInput
        formControlName="historico_pedido_id"
        name="historico_pedido_id"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          historicoFormControl.historico_pedido_id.touched &&
          historicoFormControl.historico_pedido_id.errors?.required
        "
        class="text-danger"
      >
        ID do Pedido do Histórico obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Estado do Pedido do Histórico"
        matInput
        formControlName="historico_estado_id"
        name="historico_estado_id"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          historicoFormControl.historico_estado_id.touched &&
          historicoFormControl.historico_estado_id.errors?.required
        "
        class="text-danger"
      >
        Estado do Pedido do Histórico obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Data do Histórico"
        matInput
        formControlName="historico_data"
        name="historico_data"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          historicoFormControl.historico_data.touched &&
          historicoFormControl.historico_data.errors?.required
        "
        class="text-danger"
      >
        Data do Histórico obrigatória
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="ID do Usuário do Histórico"
        matInput
        formControlName="historico_usuario_id"
        name="historico_usuario_id"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          historicoFormControl.historico_usuario_id.touched &&
          historicoFormControl.historico_usuario_id.errors?.required
        "
        class="text-danger"
      >
        ID do Usuário do Histórico obrigatória
      </span>
    </p>

    <mat-form-field>
      <input
        placeholder="Observação do Histórico"
        matInput
        formControlName="historico_observacao"
        name="historico_observacao"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          historicoFormControl.historico_observacao.touched &&
          historicoFormControl.historico_observacao.errors?.required
        "
        class="text-danger"
      >
        Observação do Histórico obrigatória
      </span>
    </p>
  </form>

  <button
    mat-raised-button
    color="primary"
    (click)="createHistoricoEstadoPedido()"
    [disabled]="historicoForm.invalid"
  >
    Cadastrar
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
