<mat-card class="mat-elevation-z4">
  <mat-card-title> Excluir o pedido </mat-card-title>
  <form [formGroup]="pedidoForm">
    <mat-form-field>
      <input
        placeholder="Nome"
        matInput
        formControlName="nome"
        name="nome"
        readonly=""
      />
    </mat-form-field>

    <mat-form-field>
      <input
        currencyMask
        placeholder="Preço(R$)"
        matInput
        formControlName="preco"
        name="preco"
        readonly=""
        [options]="{
          prefix: 'R$ ',
          thousands: '.',
          decimal: ',',
          align: 'left'
        }"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        placeholder="Quantidade"
        matInput
        formControlName="quantidade"
        name="quantidade"
        readonly=""
      />
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="warn"
    (click)="deletePedido()"
    [disabled]="pedidoForm.invalid"
  >
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
