<mat-card class="mat-elevation-z4">
  <mat-card-title> Cadastrar o produto </mat-card-title>
  <form [formGroup]="productForm">
    <mat-form-field>
      <input placeholder="Nome" matInput formControlName="nome" name="nome" />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          productFormControl.nome.touched &&
          productFormControl.nome.errors?.required
        "
        class="text-danger"
      >
        Nome obrigatório
      </span>
    </p>

    <mat-form-field>
      <input
        currencyMask
        placeholder="Preço(R$)"
        matInput
        formControlName="preco"
        name="preco"
        [options]="{
          prefix: 'R$ ',
          thousands: '.',
          decimal: ',',
          align: 'left'
        }"
      />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          productFormControl.preco.touched &&
          productFormControl.preco.errors?.required
        "
        class="text-danger"
      >
        Preço obrigatório
      </span>
    </p>
  </form>

  <button
    mat-raised-button
    color="primary"
    (click)="createProduct()"
    [disabled]="productForm.invalid"
  >
    Cadastrar
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
